/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

img {
    width: 100px;
}
#hero-section {
    background-image: url("images/statue.png");
    height: 390px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#activities-section {
    background-color: #9B6C1F;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#guide-section {
    width: 400px;
    height: 234px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #457B9D;
    padding: 12px 19px;
    border-radius: 10px;
    
}
.guide-img {
    width: 160px;
    border-radius: 50%;
}
#test {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px
}


h1 {
    margin-bottom: 0px;
    color: white;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
}

h2 {
    margin-top: 0px;
    color: white;
    font-size: 18px;
    width: 400px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
h4 {
    width: 250px;
    margin-top: 10pxpx;
    margin-bottom: 15px;
}

#visit {
    background-color: #1D3557;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-right: 0px;
    
    color: #FFFFFF;
    
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    color: #FFFFFF;
    background: #0e8dbc;
    
}
#visit-culture {
    background-color: #457B9D;
    border-radius: 10px;
    border: none;
    margin-top: 150px;
}
.middle-img {
    width: 100.66px;
    height: 100.66px;
    border-radius: 50%;       
}

.erin-para {
    width: 200px;
    margin-left: 100px;
}
.erin-para1 {
    width: 150px;
    margin-left: 50px;
    margin-top: 0px;
}
#special3 {
    margin-top: 48px;
    margin-left: 100px;
}
#special2 {
    margin-left: 100px;
}
#special1 {
    margin-top: 20px;
    
}





